@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  font-family: "Inter Tight", Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400; 
  /* color-scheme: light dark; */
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-style: italic;
 
  overflow: hidden;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.app {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}

.blur {
  transition: filter 1s ease-in-out;
  filter: blur(1em);
}

.navigation {
  display: flex;
  width: 500px;
  /* gap: 1em; */
  position: absolute;
  align-self: flex-end;
  /* justify-content: space-between; */
}

.navigation button {
  width: 100%;
}

.wrapper {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.popup {
  width: 500px;
  /* position: absolute; */
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 1em;
  /* bottom: 50%; */
  z-index: 10;
  background-color: #00000041;
}

.popup h1{
  font-weight: 900;
  margin-bottom: 1em;
  font-size: 1em;
}

.popup button{
  margin-top: 2em;
}
/* CANVAS */

.canvas {
  position: absolute;
  /* bottom: 50%; */
  /* height: 80%; */
  height: 100%;
  width: 100%;
  z-index: 0;
  /* opacity: 0; */
  /* touch-action: none;
  animation: fade-in 1s ease 0.3s forwards; */
  transition: filter 1s ease-in-out;
  /* filter: blur(0em); */
}

.sphere {
  height: 100%;
}

/* OVERLAY */

.overlay {
  display: flex;
  width: auto;
  /* flex-direction: column; */
  gap: 2em;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  /* width: 100%; */
  margin-bottom: 10%;
  /* z-index: 1; */
  /* position: relative; */
  /* bottom: 5%; */
}

/*HOME*/

.home{
  padding: 2em;
  /* background: #1a1a1a3c; */
}

.home button{
  margin-top: 2em;
}
.home button a{
  text-decoration: none;
  text-transform: capitalize;
}

.home p {
  text-transform: capitalize;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.home p:hover{
  box-shadow: inset 100vw 0 0 0 #0707077c;
  color: white;
}

.home strong{
  font-weight: 900;
}
/* DISCOVER */

/* GENERATE */

.generate{
  width: 500px;
}

.generateInput{
  align-self: end;
  display: flex;
  justify-content: center;
  align-items: end;
}

.recommendations{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.trackList{
  background-color: #00000034;
  /* height: 500px;
  overflow: scroll; */
}

.trackName{
  max-width: 250px;
  overflow-x: scroll;
  white-space: nowrap;
}

/* LIBRARY */

.library{
  width: 500px;
  max-height: 500px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: space-between;
  background-color: black;
  padding: 1em;
  border-radius: 2px;
}

.libraryItem{
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin-bottom: 0.5em;
  border-radius: 5px;
}

/* ACCOUNT */

.account{
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  /* justify-content: center; */
  align-items: start;
  /* flex-wrap: nowrap; */
}

.account p{
  font-weight: 900;
}

.account button{
  margin-top: 2em;
}

/* COMPONENTS */

.playlist {
  background-color: rgba(250, 235, 215, 0.086);
  /* margin: 0; */
  /* line-height: 0.5; */
}

hr{
  width: 100%;
  border: none;
    /* border-top: 1px solid #333; */
    /* color: #ffffff73; */
    background: rgba(255, 255, 255, 0.362);
    /* overflow: visible; */
    /* text-align: center; */
    height: 1px;
}


a {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 1s;
  
}
button:hover {
  /* background-color: #1a1a1a0d; */
  /* color: #ff0000; */
  transform: translate(2px, -2px);
  box-shadow: -2px 2px black;
  /* filter: blur(0); */
}
button:focus,
button:focus-visible {
  /* outline: 4px auto -webkit-focus-ring-color; */
}

input[type="text"] {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: red; */
  background-color: #1a1a1a;
}

input[type="range"] {
  /* -webkit-appearance: none; */
  border-radius: 2px;
  cursor: pointer;
  width: 300px;
  height: 0px;
  transform: rotate(270deg)
}


input:focus,
input:focus-visible {
  outline: -webkit-focus-ring-color;
}

/* RESPONSIVITY */

@media (max-height: 900px){
  .trackList{
    height: 400px;
    overflow: scroll;
  }
}

@media (max-width: 520px) {
  .navigation{
    display: flex;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
  }

  .navigation button{
    width: 100%;
  }

  .popup{
    height: 100vh;
    justify-content: center;
    overflow: scroll;
  }

  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .generate, .library{
    width: 100vw;
    /* padding: 1em;  */
  }

  .generateInput{
    /* padding: 1em; */
    /* width: 300px; */
    /* padding: 2em; */
  }

  .generateInput button{
    width: auto;
    position: fixed;
    bottom: 20%;
  }

  .recommendations{
    height: 500px;
    overflow: scroll;
    padding: 1em;
  }

  .trackList{
    /* height: 500px; */
    overflow: scroll;
  }

  button {
    /* width: auto; */
    border-radius: 0px;
    padding: 1em 1em;
    font-size: 0.8em;
  }
}